/*Specification*/
*{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}



.visible-lg {
	margin-right: 5%;
	color: #000;
}
.logo {
	width: 100px;
	
}

.container {
	width: 90%;

	margin: 0 auto;
}
.title__sections {
	padding-top: 100px;
	margin-bottom: 15px;
	font-size: 54px;
	font-weight: 600;
	text-align: center;
	color: #880003;
	text-transform: uppercase;
}

.title__sections_down {
	padding-top: 10px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: #111;
	
}
.darck {
	color: #222;
}
.light {
	font-weight: 300;
}
.line__sections {
	width: 98px;
	height: 4px;
	background-color: #880003;
	display: block;
	margin: 0 auto;
}
/*Header section*/

.header_next {
	
	



}

.header {
	background-color: #000;
	background-image: url("../img/rosbackground.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.header__logo {
	background-color: white;
	display: flex;
	padding-top: 5px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	position: fixed;
}
.logo {
	margin-left: 5%;
	font-size: 24px;
	color: #000;
	font-weight: 800;
	text-transform: uppercase;
}
.logo a {
	color: #000;
	text-decoration: none;
}
.logo a:hover {
	color: #fcac45;
	transition: all 0.5s ease;
	text-decoration: none;
}
.m-menu-link {
	margin-right: 5%;
	display: none;
	color: black;
	font-size: 25px;
}
.m-menu {
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	list-style: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 3;
	background-color: #FFF;
	opacity: 1;
	-webkit-box-shadow: 4px -2px 65px -1px rgba(0,0,0,0.53);
-moz-box-shadow: 4px -2px 65px -1px rgba(0,0,0,0.53);
box-shadow: 4px -2px 65px -1px rgba(0,0,0,0.53);
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.m-menu__active {
	transform: translateX(0%);
}

.close-menu {
	position: fixed;
	top: 5px;
	right: 29px;
	font-size: 35px;
}
.close-menu a {
	color: black;
}

.header__logo ul {display: flex;}
.menu-link {
	font-size: 14px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 35px;
}
.menu-link:hover {
	padding-bottom: 10px;
	border-bottom: 3px solid #fcac45;
	transition: all 0.2s ease;
}

.header__text {
	text-align: center;
}
.header__title {
	font-family:monoton,fantasy;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
	font-size:159px;
	padding-top: 170px;
	color: white;
	font-weight: 300;
	text-transform: uppercase;
}
.header__title span {
	font-weight: 700;
	color: #fcac45;
}
.header__discript {
	margin-top: 15px;
	font-size: 20px;
	color: white;
	opacity: 0.8;
	padding-bottom: 400px;
	text-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 0px;
}
.header__discript span {
	font-weight: bold;
}

/*About section*/
.about {
	background-color:   #f2f2f2;
}
.about__image-text {
	padding-top: 100px;
	display: flex;
}
.about__image  {
	width: 100%;
	margin-right: 100px;
	margin-bottom: 100px;
	display: block;
}
.about__image img {
	width: 100%;
}
.about__title {
	display: inline-block;
	font-size: 34px;
	color: #111;
	text-transform: uppercase;
	border-bottom: 4px solid #fec501;
	padding-bottom: 15px;
	font-weight: 400;
}
.about__title span {
	font-weight: 700;
}
.about__text {

  
	font-size: 18px;
	font-weight: 400;
	color: #6c6c6c;
	padding-bottom: 15px;

}
.about__list {
	margin-top: 40px;
}
.list__item {
	font-size: 16px;
	color: #5a5a5a;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 10px;
}
.list__item span {
	font-size: 18px;
	font-weight: 600;
}
.list__item-icons {
	font-size: 14px;
	margin-right: 5px;
}
/*results section*/

.otzivi {
	background-color: #000;
	background-image: url("../img/otz_back.jpg");
	background-size: cover;
	width: 100%;
}

.otzivi h2{
	color: #fff;
	font-size: 55px;
}

.otzivi .line__sections{
	background-color: #fff;
}

/*results section*/
.results {
	background-color: #fff;
	background-image: url("../img/back_res.jpg");
	background-size: cover;
	padding-top: 4%;
	padding-bottom: 4%;
}

.results .container {
	background-color: #fff;
}

.team__content {
	
	margin-top: 130px;
	display: flex;
	justify-content: center;
}

.t_sec {
    margin-top: 0px;
}

.team__block {
		text-align: center;
}

.team__block img{
	max-width: 500px ;
	width: 90%;
	margin-bottom: 10%;
	

}
.team__circle {
	width: 127px;
	height: 127px;
	border-radius: 50%;
	background-color: #d7d7d7;
	margin: 0 auto;
}
.team__title {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
.team__position {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	margin-top: 10px;
}
.team__discription {
	margin-top: 34px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 130px;
}
/*Services section*/
.services {
background-color:   #d9d9d9;
}
.services__text {
	width: 500px;
	margin: 0 auto;
	margin-top: 55px;
	color: #6c6c6c;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
.services__content {
	margin-top: 98px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
	
}
.services__block {
	width: 250px;
	height:100%;
	text-align: center;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.serv_more {
	text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:none; 
  
 font:19px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#fcfcfc; 
 background-color:#ed1a21; 
 background-image: -moz-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -webkit-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -o-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -ms-linear-gradient(top, #ed1a21 0% ,#8f0808 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0808', endColorstr='#8f0808',GradientType=0 ); 
 background-image: linear-gradient(top, #ed1a21 0% ,#8f0808 100%);   
 -webkit-box-shadow:inset 0,0,0px 0,0,0px -1,-1,-1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px -1px #ffffff;  box-shadow:inset 0px 0px -1px #ffffff;  
  
  }
  .serv_more:hover{
 padding:11px 32px; 
 border:solid 1px #c40017; 
  
 font:19px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#fcfcfc; 
 background-color:#ed1a21; 
 background-image: -moz-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -webkit-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -o-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -ms-linear-gradient(top, #ed1a21 0% ,#8f0808 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0808', endColorstr='#8f0808',GradientType=0 ); 
 background-image: linear-gradient(top, #ed1a21 0% ,#8f0808 100%);   
 -webkit-box-shadow:inset 0,0px 0,0px -1,-1px #ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px -1px #ffffff;  box-shadow:inset 0px 0px -1px #ffffff;  
 opacity:0.48; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48); 
 filter: alpha(opacity=48); 
 }
 .serv_more:active{
 padding:11px 32px; 
 border:solid 1px #c40017; 
  
 font:19px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#fcfcfc; 
 background-color:#ed1a21; 
 background-image: -moz-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -webkit-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -o-linear-gradient(top, #ed1a21 0%, #8f0808 100%); 
 background-image: -ms-linear-gradient(top, #ed1a21 0% ,#8f0808 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0808', endColorstr='#8f0808',GradientType=0 ); 
 background-image: linear-gradient(top, #ed1a21 0% ,#8f0808 100%);   
 -webkit-box-shadow:inset 0,0,0px 0,0,0px -1,-1,-1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px -1px #ffffff;  box-shadow:inset 0px 0px -1px #ffffff;  
  
 }

/* beznal html*/

.pay_info_next {
	height: 90vh;
}

.pay_info_text__block a{
	display: flex;
	flex-direction: column; 
	justify-content: center;


}

.img_next_block {
	margin-top: 0px !important;
}


.pay_more {
	text-decoration:none; 
	text-align:center; 
    font:19px Arial, Helvetica, sans-serif; 
 font-weight:; 
 color:black; 
 background-color:white; 
 border-radius: 5px;
 padding: 5px;

 margin-bottom: 10px;
     
}

.pay_more:hover {
	text-decoration:none; 
	text-align:center; 
    font:19px Arial, Helvetica, sans-serif; 
 font-weight:; 
 color:#b30000; 
 background-color:white; 
 border-radius: 5px;
 padding: 5px;

 margin-bottom: 10px;
     
}


/*Pay info*/

.pay_title {
	color: white;

} 

.pay_line {
	background-color: white;
}

.pay_info {
background-color:   #b30000;
}
.pay_info__text {
	width: 500px;
	margin: 0 auto;
	margin-top: 55px;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}



.pay_info__content {
	margin-top: 98px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	padding-bottom: 20px;
	
}
.pay_info__block {
	width: 250px;
	text-align: center;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.pay_info__block img {
	width: 250px;
	}

/*logo_pay section*/
.logo_pay__block {
	text-align: center;
	
}

.logo_pay__block img {
	width:80%;
	
}

/*delivery info*/

.del_title {
	color: #111;

} 

.del_line {
	background-color: #111;
}

.del_info {
background-color:    #d9d9d9;
}
.del_info__text {
	width: 500px;
	margin: 0 auto;
	margin-top: 55px;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
.del_info__content {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	padding-bottom: 20px;
	
}
.del_info__block {
	width: 250px;
	text-align: center;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.del_info__block img {
	width: 250px;
	}


/* social section*/
.social {
	background-color: #b30000;
}

.social .title__sections  {
	padding-top: 20px;
	color: white;
}
.social .line__sections {
	background-color: white;
}
 


.social__logo {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}
.social__item img{

	width: 90px;

}

/*testimonials section*/
.testimonials {
	background-color: #000;
}
.testimonials__text {
	max-width: 930px;
	font-size: 18px;
	font-weight: 600;
	color: #e7e7e7;
	margin: 0 auto;
	display: block;
	padding-top: 115px;
	text-align: center;
	text-transform: uppercase;
}
.testimonials__author {
	font-weight: 600;
	font-size: 18px;
	color: #b2b2b2;
	margin-top: 50px;
	text-align: center;
	padding-bottom: 170px;
}
/*contact section*/
.contact {

}
.contact__text {
	width: 48%;
	margin: 0 auto;
	font-size: 16px;
	font-style: italic;
	color: #6c6c6c;
	text-align: center;

	padding-top: 55px;

}
.contact__form {
	padding-top: 95px;
	width: 60%;
	margin: 0 auto;
}
.contact__name-email {
	display: flex;
	justify-content: space-between;
}
.contact__email-name {
	width: 45%;

}

.contact__name {
	margin-bottom: 5px;
	font-size: 14px;
	color: #636363;
}
.contact__name span {
	color: #db0000;
	margin-left: 5px;
}
.form__name {
	width: 100%;
	height: 40px;
	border: 1px solid #999999;
}
.form__mail {
	width: 100%;
	height: 40px;
	border: 1px solid #999999;
}
.contact__message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
}
.form__message {
	width: 100%;
	height: 160px;
	margin: 0;
	padding: 0;
	border: 1px solid #999999;
}
.contact__btn {
	display: flex;
	justify-content: flex-end;
}
.contact__submit {
	text-transform: uppercase;
	background-color: #fcac45;
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 15px 70px;
	margin-bottom: 100px;
	margin-top: 30px;
	cursor: pointer;
}
.contact__submit:hover {
	background-color: #eaa144;
	transition: all 0.5s ease;
}
/*footer section*/
.footer {
background-color: #222;
border-bottom: 1px solid #3f3f3f;
}
.footer__social {
padding: 30px 0;
display: flex;
justify-content: center;
}
.social__item {
margin-left: 14px;
}
.social__item-fa {
border-radius: 50%;
border: 3px solid #ababab;
padding: 5px 9px;
color: #ababab;
font-size: 14px;
}
.social__item-twitter {
border-radius: 50%;
border: 3px solid #ababab;
padding: 5px 5px;
color: #ababab;
font-size: 14px;
}
.social__item-google {
border-radius: 50%;
border: 3px solid #ababab;
padding: 5px 4px;
color: #ababab;
font-size: 14px;
}
.social__item-linkedin {
border-radius: 50%;
border: 3px solid #ababab;
padding: 5px 6px;
color: #ababab;
font-size: 14px;
}
.social__item-dribbble {
border-radius: 50%;
border: 3px solid #ababab;
padding: 5px 5px;
color: #ababab;
font-size: 14px;
}
.social__item-dribbble:hover, 
.social__item-linkedin:hover, 
.social__item-google:hover, 
.social__item-twitter:hover, 
.social__item-fa:hover {
border-radius: 50%;
border: 3px solid #fcac45;
color: #fcac45;
font-size: 14px;
transition: all 0.5s ease;
}
